#include<bits/stdc++.h>
#include<windows.h>
#include <iostream>
#include <ctime>
#include <cmath>

#include <conio.h>
#define WB "color 70" //WB: White backgroud & Black foregroud
#define WR "color 7C" //WR: White backgroud & Red foregroud
#define unit "* "
#define ESC 27
#define posHeartX 50
#define posHeartY 5
using namespace std;

const int stoptimeshort = 50;
const int stoptimelong = 500;

enum
{
	row = 46,
	col = 47
};
bool Heart[row * col];

void init(void);
void goto_xy(int x, int y);
void illuminate(void); //TODO: Visually illuminate the process of calculating.
void show(void);	   //Show the heart shape as if a drop of red ink in the water.

int love[9][37] = 
{
0,1,1,1,1,1,0,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,
0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,
0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,
0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,
0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,
0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,
0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,
1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0
};

int happy[12][65] = 
{
0,0,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,1,1,1,1,1,0,0,
0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,
0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,0,0,0,1,1,1,1,1,1,1,0,0,0,0,1,0,0,0,1,0,0,0,0,
0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,
1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,1,1,1,1,1,1,1,1,
0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,1,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,
0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,
0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,
0,0,1,1,1,1,1,1,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,1,0,
0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,
0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
};


int main() {
	
    // 黑框程序标题 
    system ("title Happy Mothers's day");
    
    // 改变背景颜色和字体颜色
	system ("color 03");  // 黑底，湖蓝色字  
  
    // 从容的走过了最美丽的岁月 
    cout << "        ";
    cout << "Stay";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "young";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "forever";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "!";
    Sleep ( stoptimeshort );
    cout << "!";
    Sleep ( stoptimeshort );
    cout << "!";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << " " << endl;
    
    // 无悔的度过了最浪漫的年华 
    cout << "        ";
    system ( "color 72" );
    Sleep ( stoptimelong );
    cout << "Happy";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "every";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "day";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "!";
    Sleep ( stoptimeshort );
    cout << "!";
    Sleep ( stoptimeshort );
    cout << "!";
    Sleep ( stoptimeshort );
    cout << "!";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << " " << endl;
    
    // 安静的沉没了您的灿烂 
    cout << "        ";
    system ( "color 79" );
    Sleep ( stoptimelong );
    cout << "Eternal";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "love";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "never";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "change";
    Sleep ( stoptimeshort );
    cout << ".";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    
     cout << "        ";
    system ( "color 40" );
    Sleep ( stoptimelong );
    cout << "Hao";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "Chen";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "lei";
    Sleep ( stoptimeshort );
    cout << " ";
    Sleep ( stoptimeshort );
    cout << "5";
    Sleep ( stoptimeshort );
    cout << "1";
    Sleep ( stoptimeshort );
    cout << "4";
    Sleep ( stoptimeshort );
    
    	using std::cin;
	using std::cout;
	int key = 0;

	system(WB); //WB: White backgroud & Black foregroud
	init();
	illuminate();
	cin.get();
	system(WR); //White backgroud & Red foregroud

	while ((key = getch()) && (key != ESC)) //Press ESC to quit.
	{
		system("cls");
		show();
	}

	cout << "\nPress any key to continue.\n";
	cin.get(); //Let everythinig just stop here. Untill you press any key.
	return 0;
}


/****************************************************************************************
Color List:

 0=Black  1=Blue 2=Green 3=Ocean blue 4=Red 5=Purple 6=Yellow 7=White 8=Grey 9=Light blue
 A=Light green B=Sky blue C=Light red D=Light purple E=Light yellow F=Bright white

****************************************************************************************/



void init(void)
{
	for (int i = 0; i < row; i++)
		for (int j = 0; j < col; j++)
			Heart[i * col + j] = false;
}

void goto_xy(int x, int y) //瀹氫綅鍏夋爣浣嶇疆鍒版寚瀹氬潗鏍?
{
	HANDLE hOut;
	hOut = GetStdHandle(STD_OUTPUT_HANDLE);
	COORD pos = {x, y};
	SetConsoleCursorPosition(hOut, pos);
}

void illuminate(void)
{
	using std::cout;
	double x, y, leftValue, rightValue;
	for (int i = 0; i < row; i++)
	{
		for (int j = 0; j < col; j++)
		{
			x = -1.15 + 0.05 * j;
			y = +1.25 - 0.05 * i;
			leftValue = x * x * y * y * y;
			rightValue = pow(x * x + y * y - 1, 3);

			if (leftValue >= rightValue) //Heart curve: x^2*y^3>=(x^2+y^2-1)^3
			{
				Heart[i * col + j] = true;
				goto_xy(0, 0);
				cout << "v positive " << leftValue << " >= " << rightValue;
				goto_xy(posHeartX + 2 * j, posHeartY + i);
				cout << "|";
			}
			else
			{
				Heart[i * col + j] = false;
				goto_xy(0, 0);
				cout << "x negative " << leftValue << " < " << rightValue;
				goto_xy(posHeartX + 2 * j, posHeartY + i);
				cout << "O";
			}
			Sleep(7);
		}
	}
}

void show(void)
{
	using std::cout;
	int fromWhere;
	int x, y;

	srand((unsigned int)clock()); //Let the random seed depends on time
	do
	{
		fromWhere = rand() % (row * col); //fromWhere: 0~row*col-1
	} while (Heart[fromWhere] == false);

	x = fromWhere / col;
	y = fromWhere % col;

	int Rx, Ry, Rmax;
	Rx = x > (row - 1 - x) ? x : (row - 1 - x);
	Ry = y > (col - 1 - y) ? y : (col - 1 - y);
	Rmax = (int)sqrt(Rx * Rx + Ry * Ry) + 1;

	for (int r = 1; r < Rmax; r++)
	{
		for (int i = 0; i < row; i++)
		{
			for (int j = 0; j < col; j++)
			{
				if ((((i - x) * (i - x) + (j - y) * (j - y)) < r * r) && Heart[i * col + j]) //In the circle && Be a part of the heart
				{
					goto_xy(posHeartX + 2 * j, posHeartY + i);
					cout << unit;
				}
			}
		}
		Sleep(20);
	}
}

